#color-palette , #title {
  margin: auto;
  text-align: center;
}

.color {
  border: black solid 1px;
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: black;
}

/* .red {
  background-color: red;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
} */

.pixel {
  background-color: white;
  border: black solid 1px;
  width: 40px;
  height: 40px;
}

#generate-board {
  display: inline-block;
}
